<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FeedsTableView_TitleSize</key>
	<integer>16</integer>
	<key>FeedsTableView_SubtitleSize</key>
	<integer>12</integer>
	<key>MasterTableView_TitleSize</key>
	<integer>14</integer>
	<key>MasterTableView_SummarySize</key>
	<integer>12</integer>
	<key>MasterTableView_SubtitleSize</key>
	<integer>10</integer>
	<key>DetailView_TitleSize</key>
	<integer>18</integer>
	<key>DetailView_DateSize</key>
	<integer>12</integer>
	<key>DetailView_SummarySize</key>
	<integer>16</integer>
	<key>DetailView_SummaryLineSpacing</key>
	<integer>5</integer>
</dict>
</plist>
