<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple Hot News</key>
	<string>http://images.apple.com/main/rss/hotnews/hotnews.rss</string>
	<key>TechCrunch</key>
	<string>http://techcrunch.com/feed/</string>
	<key>Apple Inc. Press Releases</key>
	<string>http://www.apple.com/pr/feeds/pr.rss</string>
</dict>
</plist>
